body{
    margin: 0;
}

h1{
    color: #4314cf;
    margin-bottom: 2rem;
}

input, select {
    width: 250px;
    height: 25px;
    margin: 1rem 0.5rem;
    box-shadow: 0 0 10px;
    border: none;
    outline: none;
    border-radius: 5px;
    padding: 0 0.5rem;
}

.app {
    font-family: Arial, sans-serif;
    background-color: rgba(245, 245, 245, 0.772);
    padding: 2rem;
    text-align: center;
}

.crypto-container {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 2rem;
    margin-top: 1rem;
}

.crypto-card {
    background-color: white;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    padding: 1rem;
    margin-top: 1rem;
    max-width: 275px;
    text-align: center;
    &:hover{
        transform: translateY(-5px);
        cursor: pointer;
    }
    img {
        width: 60px;
        height: 60px;
        margin-bottom: 1rem;
    }

    h2 {
        margin: 0.5rem 0;
        color: #3a36b3;
    }

    p {
        color: #3a36b3;
        margin: 0.2rem 0;
    }
}
